
*.html
*.xml
*.iml
out/production/M2201 - TP/M2201/TP/Client.class
out/production/M2201 - TP/M2201/TP/Main.class
/build/
/dist/
*.class
out/production/M2201 - TP/META-INF/M2201 - TP.kotlin_module
nbproject/private/private.xml
nbproject/project.properties
*.xml
nbproject/private/private.xml
